body {
  margin: 0;
  padding: 0;
  background-color: #1e293b;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #ef4444;
  font-size: 6rem;
  font-family: "Exo 2", sans-serif;
  text-shadow: 4px 8px 10px rgb(15, 21, 30, 0.2);
}

#calendar {
  display: none;
  margin: 2rem auto;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem 2rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

#calendar li {
  display: none;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 8rem;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
  background-color: #ceddfa;
  color: #1e293b;
  list-style: none;
  box-shadow: 0px 8px 40px rgb(6, 20, 49 / 20%);
  border-radius: 6px;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}

#calendar li.darker-color {
  background-color: #bdcbe8;
}

#calendar li:hover {
  transform: scale(1.1);
}

div.race-place {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.race-place img {
  margin-right: 1rem;
}

div.race-date p:nth-of-type(1) {
  font-weight: 600;
}
div.race-date p:nth-of-type(2) {
  color: #4955a7;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 5rem;
  }
  #calendar {
    grid-template-columns: none;
    justify-content: center;
    width: 90%;
  }
  #calendar li {
    grid-template-columns: 2fr 1fr;
  }
  #calendar li:nth-child(3),
  #calendar li:nth-child(7),
  #calendar li:nth-child(11),
  #calendar li:nth-child(15),
  #calendar li:nth-child(19),
  #calendar li:nth-child(23) {
    background-color: #ceddfa;
  }
  #calendar li:nth-child(4),
  #calendar li:nth-child(8),
  #calendar li:nth-child(12),
  #calendar li:nth-child(16),
  #calendar li:nth-child(20) {
    background-color: #bdcbe8;
  }
  #calendar .race-date p {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }
  #calendar li {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    font-size: 1.3rem;
  }
  div.race-place {
    justify-content: center;
  }
  div.race-date {
    display: flex;
    justify-content: center;
  }
}
